.container {
    background-color: #262626;
    border-radius: 10px;
}

.title {
    border-bottom: 1px solid #363636;
    line-height: 40px;
}

.inputFile {
    display: none;
}

.userIcon {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.inputCaption {
    background-color: #262626;
    resize: none;
}

.inputCaption:focus {
    outline: none;
}

.shareBtn {
    color: #0095F6;
}
