.userIcon {
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.postText {
    border-radius: 0 5px 5px 0;
}

.addCommentBtn {
    color: #0095F6;
    font-size: 14px;
}

.closeBtn {
    cursor: pointer;
}

.closeBtn:hover {
    opacity: 0.6;
}

.postWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.redFavBtnStyle {
    background-color: red;
}

.whiteFavBtn {
    background-color: #fff;
}
