.isRevealPasswordIcon {
  position: absolute;
  top: 25%;
  left: 78%;
}
.error_message {
  color: red;
  font-size: 13px;
}
input:invalid ~ .error_message {
  display: block;
  height: 30px;
  line-height: 1.5rem;
  margin-top: 5px;
}
input:valid ~ .error_message {
  display: none;
}
input:placeholder-shown ~ .messageBox {
  display: none;
}

.passChangeBtn {
  background-color: #67B6FA;
  font-weight: bold;
  color: #ffff;
  border-radius: 14%;
  width: 100%;
  padding: 3px 10px;
  /* margin-top: 8%; */
  font-size: 1.4rem;
}
