.isRevealPasswordIcon {
  position: absolute;
  top: 25%;
  left: 78%;
}
.error_message {
  color: red;
  font-size: 13px;
}
/* 正規表現に一致していない場合 */
input:invalid ~ .error_message {
  display: block;
  height: 30px;
  line-height: 1.5rem;
  margin-top: 5px;
}
/* 正規表現に一致している場合 */
input:valid ~ .error_message {
  display: none;
}
/* placeholderが表示されている時=入力されていない時 */
input:placeholder-shown ~ .messageBox {
  display: none;
}

/* 一致してる場合ボタンの色を変える */
/* input:valid .passChangeBtnA { */
.afterPassBtn {
  background-color: #1596f7;
  font-weight: bold;
  color: #ffff;
  border-radius: 14%;
  width: 100%;
  padding: 3px 10px;
  /* margin-top: 8%; */
  font-size: 1.4rem;
}
/* 一致していない */
/* input:invalid .passChangeBtnA { */
.beforePassBtn {
  background-color: #67b6fa;
  font-weight: bold;
  color: #ffff;
  border-radius: 14%;
  width: 100%;
  padding: 3px 10px;
  /* margin-top: 8%; */
  font-size: 1.4rem;
}

.completeChange {
  transform: translateY(100%);
  height: 40px;
  width: 100%;
  background-color: rgb(3, 55, 107);
  color: #ffff;
  position: fixed;
  bottom: 0;
  padding-left: 2%;
}
.active {
  animation-name: completeMessage;
  animation-duration: 5s;
  animation-fill-mode: backwards;
}
@keyframes completeMessage {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
