.isRevealPasswordIcon {
  position: absolute;
  top: 10%;
  left: 85%;
}
.error_message {
  color: red;
  font-size: 13px;
}
input:invalid ~ .error_message {
  display: block;
  height: 30px;
  line-height: 1.5rem;
  margin-top: 5px;
}
input:valid ~ .error_message {
  display: none;
}
input:placeholder-shown ~ .messageBox {
  display: none;
}
